---
import { getCollection } from 'astro:content'
import { format } from 'date-fns'
import Layout from '@/layouts/Layout.astro'
import BookCard from '@/components/BookCard.astro'
import { sortAndGroupPostsByYear } from '@/utils/helpers'

const bookNotes = await getCollection('bookNotes', ({ data }) => !data.draft)
const sortedNotes = bookNotes.sort(
	(a, b) =>
		new Date(b.data.date_published).valueOf() -
		new Date(a.data.date_published).valueOf()
)
---

<Layout title='Blog' description="Notes from the books I'm reading.">
	<main class='flex flex-col gap-20'>
		<article class='flex flex-col gap-8'>
			<h1 class='text-3xl text-neutral-100 font-serif'>Book Notes</h1>
			<section class='flex flex-col gap-4'>
				<div class='w-full columns-3 gap-8'>
					{
						sortedNotes.map((post, index) => (
							<a
								class='w-full columns-3 gap-8'
								href={`/book-notes/${post.slug}`}
								key={`post-${index}`}
							>
								<BookCard
									title={post.data.title}
									description={post.data.excerpt}
									cover={post.data.cover}
								/>
							</a>
						))
					}
				</div>
			</section>
		</article>
	</main>
</Layout>
