---
import Header from '@/components/Header.tsx'
import Footer from '@/components/Footer.tsx'
import BlurCircle from '@/components/shared/BlurCircle.astro'
import SEOTags from '@/components/seo/SEOTags.astro'
import ReadingProgress from '@/components/scripts/ReadingProgress.astro'
import theme from '@/data/theme'
import { getCurrentTrack, removeTrailingSlash } from '@/utils/helpers'

import '@/styles/tailwind.css'
import '@/styles/content.css'

export interface Props {
	title?: string
	description?: string
	progress?: boolean
}

const { title, description, progress = false } = Astro.props
const pathname = removeTrailingSlash(Astro.url.pathname)
const nowPlayingTrack = await getCurrentTrack()
const data = await nowPlayingTrack.json()
---

<!DOCTYPE html>
<html lang='en'>
	<SEOTags title={title || 'Ilango Rajagopal'} description={description} />

	<body
		class='mx-auto flex min-h-screen max-w-[872px] flex-col gap-9 bg-neutral-950 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16 font-sans'
	>
		{progress ? <div class='progress' id='progress' /> : null}
		<Header data={data} pathname={pathname} />
		<BlurCircle position='top' color={theme.colors.blur.top} />
		<BlurCircle position='bottom' color={theme.colors.blur.bottom} />
		<slot />
		<Footer />
		<style is:global>
			html {
				font-family: 'Inter';
			}
		</style>
		{
			import.meta.env.MODE === 'production' ? (
				<script
					async
					src='https://analytics.i4o.dev/script.js'
					data-website-id='a23700f3-870e-47f9-8912-52e806ef4d43'
				/>
			) : null
		}
		{progress ? <ReadingProgress /> : null}
		<script is:inline>
			window.CustomSubstackWidget = {
				substackUrl: 'ilango.substack.com',
				placeholder: 'paul@house-atreides.com',
				buttonText: 'Subscribe',
				theme: 'custom',
				colors: {
					primary: '#FFFFFF',
					input: '#000000',
					email: '#FFFFFF',
					text: '#000000',
				},
			}
		</script>
		<script is:inline src='https://substackapi.com/widget.js' async />
	</body>
</html>
